body, html {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 50px;
    width: 700px;
    margin: 140px auto 0;
}
.app {
    width: 700px;
    margin: 80px auto;
    border: 1px solid grey;
    padding: 30px 0;
}
.form {
    width: 90%;
    margin: auto;
    text-align: left;
}
.input {
    height: 30px;
    width: 250px;
    width: 250px;
    border: 1px solid grey;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.input:active,
.input:focus {
    outline: 0;
    border-color: #5da20f;
}
.form .input + .input {
    margin-left: 10px;
}
.input.search {
    margin-left: 5%;
}
.form .submit {
    height: 30px;
    width: 100px;
    margin-left: 20px;
}
.users-list,
.users-list--empty,
.error {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.error {
    color: red;
}
.users-list,
.users-list--empty {
    font-size: 32px;
}
.user {
    clear: both;
    font-size: 18px;
    width: 100%;
    border-top: 1px solid gray;
    text-align: left;
}
.user p,
.user button {
    display: inline-block;
}
.user p {
    margin: 20px 5%;
    width: 200px;
}
.user button {
    height: 30px;
    float: right;
    width: 100px;
    margin-right: 5%;
    margin-top: 15px;
}
